.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5vw;
  padding-top: 0;
}
.title {
  font-size: 3vw;
  text-align: center;
  color: #6e9ac2;
  padding: 0;
  margin: 0;
  padding-bottom: 1vw;
}
.image {
  height: 20vw;
  border-radius: 2vw;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  border: 0.25vw solid #6e9ac2;
}

.video {
  height: 20vw;
  border-radius: 2vw;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  border: 0.25vw solid #6e9ac2;
  margin: 0;
  padding: 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #6e9ac2;
  white-space: pre-line;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  width: 100vw;
  height: 22vw;
  padding: 0;
  overflow-x: scroll;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
  padding-right: 2vw;
  padding-left: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
}
.imageContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.builtUsing {
  background-color: transparent;
  border: 0.1vw solid #6e9ac2;
  color: #6e9ac2;

  padding: 1vw;

  border-radius: 2vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
}

.descriptionContainer {
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 1vw;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none !important;
  color: #6e9ac2;
  border: 0.1vw solid #6e9ac2;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  vertical-align: bottom;
  margin: 0;
  padding: 0.3vw 0.6vw;
  background-color: white;
  border-radius: 1000px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.link:hover {
  background-color: #6e9ac2;
  color: white;
  cursor: pointer;
  border: 0.1vw solid white;
}

.captionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  background-color: white;
  border: 0.1vw solid #6e9ac2;
  margin: 0;
  padding: 0;
  padding: 1vw;
  border-radius: 1vw;
  width: 80vw;
  font-size: 2vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
