.component {
  position: fixed;
  top: 90%;
  left: 94%;
}

.componentbutton {
  border: none;
  width: 5vw;
  height: 5vw;
  padding: 0px;
  cursor: pointer;
  box-shadow: 0 0 white;
  background-color: rgba(0, 0, 0, 0);
  transition: ease-in-out 0.3s;
  border: 2px solid rgba(110, 154, 194, 1);
  border-radius: 1000px;
}

.componentbutton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  top: 83%;
  left: 0%;
}

.containerbutton {
  text-align: center;
  font-size: 1vw;
  height: 3vw;
  width: auto;
  border-radius: 1000px;
  border: none;
  margin: 0.2vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  margin-left: 0.5vw;
  background-color: rgba(110, 154, 194, 1);
  animation: rollInFromRight 0.5s forwards;
  padding: 1vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  margin-right: 1vw;
  color: white; /* Transition specifically for the transform property */
}
.torotate {
  transition: transform 0.3s ease-in-out;
}
.torotate:hover {
  transform: scale(1.1); /* Apply rotation on hover */
}

.containerbuttontransitioning {
  text-align: center;
  font-size: 1vw;
  height: 3vw;
  width: auto;
  border-radius: 1000px;
  border: none;
  margin: 0.2vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  margin-left: 0.5vw;
  background-color: rgba(110, 154, 194, 1);
  animation: rollOutToRight 0.5s forwards;
  padding: 1vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  margin-right: 1vw;
  color: white;
}

@keyframes rollInFromRight {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(-1vw);
  }
}

@keyframes rollOutToRight {
  0% {
    transform: translateX(-1vw);
  }

  100% {
    transform: translateX(1000px);
  }
}
