.component {
  position: fixed;
  top: 90%;
  left: 95%;
}

.componentbutton {
  border-radius: 1000px;
  border: none;
  width: 50px;
  height: 40px;
  padding: 0px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: rgba(110, 154, 194, 1);
  transition: ease-in-out 0.3s;
}

.componentbutton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  top: 89%;
  left: -5%;
}

.containerbutton {
  text-align: center;
  font-size: 1rem;
  height: 50px;
  width: 225px;
  border-radius: 1000px;
  border: none;
  margin: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  margin-left: 2rem;
  background-color: rgba(110, 154, 194, 1);
  animation: rollInFromRight 0.5s forwards;
  color: white; /* Transition specifically for the transform property */
}
.torotate {
  transition: transform 0.3s ease-in-out;
}
.torotate:hover {
  transform: rotate(-15deg); /* Apply rotation on hover */
}

.containerbuttontransitioning {
  text-align: center;
  font-size: 1rem;
  height: 50px;
  width: 225px;
  border-radius: 1000px;
  border: none;
  margin: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  margin-left: 2rem;
  background-color: rgba(110, 154, 194, 1);
  animation: rollOutToRight 0.5s forwards;
}

@keyframes rollInFromRight {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(-5%);
  }
}

@keyframes rollOutToRight {
  0% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(1000px);
  }
}
