.container {
  display: flex;
  width: 100%;
  height: 33vw;
  position: relative;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.headshotContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: left;
}
.title {
  font-size: 4.5vw;
  color: #6e9ac2;
  margin: 0;
  padding: 0;
}
.description {
  color: black;
  font-size: 1.5vw;
}
