.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.listItem {
  background-color: #6e9ac2;
  width: 200px;
  padding: 10px 20px;
  border-radius: 1000px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.listItem:hover {
  transform: rotate(-5deg);
}

.listItem:last-child {
  margin-right: 0;
}

.blue {
  color: #6e9ac2;
}

.green {
  color: #8fa589;
}

.orange {
  color: #f5a623;
}

.red {
  color: #e74c3c;
}

.link {
  text-decoration: none;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 200px;

  justify-content: center;
  flex-direction: row;
}
.blueContainer {
  background-color: #6e9ac2;
}
.greenContainer {
  background-color: #8fa589;
}
.orangeContainer {
  background-color: #f5a623;
}
.redContainer {
  background-color: #e74c3c;
}
