.container {
  align-items: center;
  font-size: 1.6rem;
}

.listItem {
  background-color: #6e9ac2;
  padding: 0.3rem 1rem;
  border-radius: 1000px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.blue {
  color: #6e9ac2;
}

.green {
  color: #8fa589;
}

.orange {
  color: #f5a623;
}

.red {
  color: #e74c3c;
}

.link {
  text-decoration: none;
}
.link:hover ~ .listItem {
  transform: rotate(-4deg);
}

.linkItem:hover {
  cursor: pointer;
}

.list {
  display: flex;
  list-style: none;
  gap: 5rem;
  flex-direction: row;
}

.blueContainer {
  background-color: #6e9ac2;
}
.greenContainer {
  background-color: #8fa589;
}
.orangeContainer {
  background-color: #f5a623;
}
.redContainer {
  background-color: #e74c3c;
}

