.headshot {
  border-radius: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: relative;
  top: -800px;
  left: -50px;
  transition: transform 0.5s ease-in-out;
}
.headshot:hover {
  transform: scale(1.1);
}

.green {
  border-radius: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  background: #8fa589;
  position: relative;
  top: -575px;
  transition: transform 0.4s ease-in-out;
}
.green:hover {
  transform: rotate(-15deg);
}
.blue {
  border-radius: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  background: #6e9ac2;
  position: relative;
  top: -150px;
  left: -100px;
  transition: transform 0.4s ease-in-out;
}
.blue:hover {
  transform: skewX(-15deg);
}

.orange {
  border-radius: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  background: #f3b76f;
  position: relative;
  top: 50px;
  left: -150px;
  transition: transform 0.4s ease-in-out;
}
.orange:hover {
  transform: translate(-20px, -20px);
}
