
.container {
  display: flex;
  position: relative;

  flex: 1;
  justify-content: center;
  align-items: center;
}

.headshot {
  position: absolute;
  border-radius: 50px;
  width: 450px;
  height: 600px;
  object-fit: cover;
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.blue {
  position: absolute;
  border-radius: 50px;
  width: 450px;
  height: 600px;
  background: #6e9ac2;
  transform: rotate(-15deg);
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s;
}

.green {
  position: absolute;
  border-radius: 50px;
  width: 450px;
  height: 600px;
  background: #8fa589;
  transform: rotate(-30deg);
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s;
}

.orange {
  position: absolute;
  border-radius: 50px;
  width: 450px;
  height: 600px;
  background: #f3b76f;
  transform: rotate(-45deg);
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s;
}

.red {
  position: absolute;
  border-radius: 50px;
  width: 450px;
  height: 600px;
  background: #f77f6b;
  transform: rotate(-60deg);
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.5s;
}

.hovered {
  transform: rotate(0deg);
  transition: ease-in-out 0.5s;
}

