body {
  font-family: "Lexend", sans-serif;
  margin-bottom: 3rem;
}

#myThreeJsCanvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1 !important;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.5vw;
}

h3 {
  font-size: 1.25vw;
}

h4 {
  font-size: 1vw;
}

h5 {
  font-size: 0.75vw;
}

h6 {
  font-size: 0.5vw;
}

p {
  font-size: 1vw;
}
