/*************  ✨ Codeium Command 🌟  *************/
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6e9ac2;
  border-radius: 1000px;
  margin: 0 5rem;
  height: 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.text {
  flex: 1;
  color: white;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: right;
  margin-right: 1rem;
}

.imageLeft {
  margin-left: 0.5rem;
  border-radius: 1000px;
  height: 3rem;
  width: auto;
}

.imageRight {
  margin-right: 0.7rem;
  border-radius: 1000px;
  height: 3rem;
  width: auto;
}
