.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6e9ac2;
  border-radius: 1000px;

  height: 4vw;
  margin-bottom: 2vw;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.text {
  flex: 1;
  color: white;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: right;
  margin-right: 1vw;
}

.imageLeft {
  margin-left: 0.6vw;
  border-radius: 1000px;
  height: 3vw;
  width: auto;
}

.imageRight {
  margin-right: 0.7vw;
  border-radius: 1000px;
  height: 3vw;
  width: auto;
  transition: ease-in-out 0.3s;
}
.imageRight:hover {
  transform: scale(1.2);
}
