.buttonContainer button {
  padding: 1vw 1.5vw;
  border-radius: 1000px;
  border: none;
  margin: 1vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 2vw;
  margin-left: 2vw;
  transition: ease-in-out 0.3s;
}
.buttonContainer button:hover {
  transform: rotate(-15deg);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vw;
}
.blue {
  background-color: #6e9ac2;
  color: white;
  transition: ease-in-out 0.3s;
}

.blue:hover {
  background-color: #0064c2;
}
.green {
  background-color: #8fa589;
  color: white;
  transition: ease-in-out 0.3s;
}

.green:hover {
  background-color: #24a600;
}

.orange {
  background-color: #e8b056;
  color: white;
  transition: ease-in-out 0.3s;
}
.orange:hover {
  background-color: #f28500;
}

.red {
  background-color: #e47366;
  color: white;
}

.red:hover {
  background-color: #e74c3c;
}

.video {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 3vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.buttonContainer {
  align-self: flex-end;

  margin-bottom: 2vw;
}
ul {
  color: #6e9ac2;
  font-size: 1.25vw;
  list-style: none;
  padding-left: 0;
}
